*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: var(--clr-pink);
    color: var(--clr-grey-9);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

.container {
    width: 90vh;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 750px;
    padding: 3rem;
    margin: 5rem auto;
    background-color: white;
}

.loggedInUser {
    color: red;
}

.btn {
    display: block;
    width: 90%;
    margin: 1rem auto;
    padding: 0.5rem;
    text-transform: capitalize;
    border-color: transparent;
    letter-spacing: 0.1rem;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.btn:hover {
    color: black;
    background-color: white;
    border: black solid 1px;
}

.signIndiv {
    padding: 2rem;
    width: 600px;
    margin: auto;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 5rem auto;
}

#login-form {
    /* background-color: blue; */
    width: 80%;
    margin: auto;
}

#login-form input {
    margin-bottom: 1rem;
    width: 90%;
    /* background-color: blanchedalmond; */
    /* margin: auto; */
}

#verifyCode {
    width: 40%;
    margin: auto;
}

#signupPage input {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

#enroll-phone {
    width: 30%;
    display: block;
    margin: auto;
    margin: 1rem auto;
}

#enroll-button {
    width: 30%;
}

.enroll-form {
    padding: 2rem;
    width: 600px;
    margin: auto;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 5rem auto;
    /* background-color: whi */
}

#enroll-code {
    width: 60%;
}

#enroll-verify {
    width: 60%;
}

#login-code {
    width: 90%;
}

#smallNote {
    font-size: 0.8rem;
    width: 80%;
    margin: auto;
}

#unenroll {
    display: none;
}

#enroll {
    display: none;
}

#verifyemail {
    display: none;
}

#signin {
    display: none;
}

#signup {
    display: none;
}

#changePassword {
    display: none;
}

#enroll-oldPassword {
    width: 40%;
    margin-bottom: 1rem;
    margin-left: 2.7rem;
}

#enroll-newPassword {
    margin-bottom: 1rem;
    width: 40%;
    margin-left: 2.3rem;
}

#enroll-confirmPassword {
    width: 40%;
    margin-bottom: 0.5rem;
    margin-left: 0.6rem;
}

#enroll-changePassword {
    width: 60%;
}

#changePassword-form {
    padding: 2rem;
    width: 600px;
    margin: auto;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 5rem auto;
    /* background-color: whi */
}

#verifyCode-form {
    padding: 2rem;
    width: 40%;
    margin: auto;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 5rem auto;
}

.passwords-fields {
    display: flex;
    justify-content: center;
    align-items: center;
}